* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.product3 {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar {
    overflow: hidden;
    background-color: #232323;
}

.navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #04aa6d;
    color: white;
}

.product1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.product1 h1 {
    color: white;
    font-size: 22px;
}
.product1 h3 {
    color: white;
    font-size: 15px;
}
.product1 span {
    color: gold;
}

.draft {
    width: 20rem;
    /* margin-left: 2rem; */
    height: 640px;
    background-color: whitesmoke;
}

.draft .d1 {
    padding: 0.4rem;
    background-color: #04aa6d;
    text-align: center;
    width: 10rem;
    border-radius: 10px;
}

.H2 {
    border: 2px solid black;
    border-radius: 5px;
    height: 1.4rem;
    display: flex;
    width: 12rem;
    display: flex;
    gap: 0.3rem;
    justify-content: flex-start;
    /* background-color: #e0144c; */
    align-items: center;
    flex-direction: column;
    margin-right: 50px;
    margin-top: 1rem;
}

a.logout-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    padding: 9px 20px;
    background-color: #04aa6d;
    color: #ffff;
    /* margin-right: 50px; */
}

a.logout-button:hover {
    cursor: pointer;
    transform: scale(0.8, 1);
    transition: all 0.3s;
    background-color: red;
    color: #ffff;
}

.img {
    float: right;
    /* margin-bottom: 22px; */
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #ffff;
    font-size: 14px;
    padding: 2px;
}

.container {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    /* background-color: #e0144c; */
}

.draft-section {
    width: 20%;
    height: 100%;
    /* background-color: #04aa6d; */
}

.right-section {
    width: 80%;
    height: 100%;
}
.add_new_product {
    height: 30px;
    display: flex;
    justify-content: end;
}
.sub {
    height: 10rem;
    width: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /* background-color: #04AA6D; */
}
.main {
    width: 20rem;
    margin: 0 auto;
    margin-bottom: 0.2rem;
}
.cart {
    border-radius: 5px;
    height: 1.4rem;
    display: flex;
    width: 14rem;
    display: flex;
    gap: 0.3rem;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin-top: 10px;
}

.cart h1 {
    font-size: 1rem;
    /* font-weight: 400 */
}
.cart h2 {
    font-size: 1rem;
}

/* button fixing */
.btn {
    font-size: 0.5rem;
    border-radius: 10px;
    border: none;
    padding: 9px 20px;
    background-color: black;
    margin-left: 20px;
    color: #ffff;
}

/* button designing */
.btn:hover {
    cursor: pointer;
    transform: scale(1, 1.2);
    transition: all 0.3s;
    background-color: black;
    color: #fff;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay {
    visibility: hidden;
    opacity: 1;
}

.wrapper {
    margin: 70px auto;
    padding: 10px;
    border-radius: 5px;
    width: 60%;
    height: 80%;
    background-color: #fff;
    position: relative;
    margin-top: 50px;
    transition: all 5% ease-in-out;
}

.wrapper .close {
    position: absolute;
    top: 10px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.wrapper .content {
    max-height: 100%;
    position: absolute;
    right: 30%;
    /* overflow: auto; */
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    font-size: 0.5rem;
    border-radius: 10px;
    border: none;
    padding: 9px 20px;
    background-color: #232323;
    color: #ffff;
}

a.button:hover {
    cursor: pointer;
    transform: scale(1, 1.2);
    transition: all 0.3s;
    background-color: #e0144c;
    color: black;
}

.container1 {
    justify-content: center;
    /* background-color: #04AA6D; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.H1 {
    text-align: center;
    width: 200px;
    border: 2px solid black;
}

.items {
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 30rem;
    height: 20rem;
    border-radius: 4rem;
}

.amount-class {
    height: 20px;
    text-align: center;
    width: 28px;
    border: 2px solid black;
}

.total {
    cursor: pointer;
    padding: 4px;
    margin-top: 3rem;
    text-align: center;
    border: 2px solid black;
    background-color: yellow;
    width: 200px;
}

.final_button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    font-size: 0.5rem;
    border-radius: 10px;
    border: none;
    padding: 9px 20px;
    background-color: #232323;
    color: #ffff;
    position: relative;
    bottom: 1.1rem;
}

.final_button:hover {
    cursor: pointer;
    transform: scale(1, 1.2);
    transition: all 0.3s;
    background-color: #04aa6d;
    color: black;
}

.fa-plus {
    font-size: 2rem;
    margin-left: 70rem;
    margin-right: 20px;
    margin-bottom: 5rem;
    cursor: pointer;
}

.form-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 15rem;
    border-radius: 3rem;
}

.last-btn {
    margin-top: 1.2rem;
    display: flex;
    width: 10.3rem;
    margin-left: 0.5rem;
    justify-content: space-between;
}

.last-end {
    display: flex;
}

.bill {
    /* background-color: #04aa6d; */
    position: absolute;
    left: 33rem;
    top: 20rem;
    margin-right: 300px;
    padding: 1rem 1.3rem;
    text-align: center;
    border-radius: 1rem;
}

.input-box {
    display: flex;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 500px;
}

th,
td {
    /* border: 1px solid black; */
    /* width: 50%; */
    padding: 1rem 2rem;
}

.header,
.table_row {
    display: flex;
    justify-content: space-around;
    /* background-color: #e0144c; */
    width: 85%;
}

.table_row {
    border: 0.8px solid #000;
    /* width: 600px; */
    padding: 10px;
}

.cs {
    margin-right: 19%;
}

.header {
    /* margin-right: 100px; */
    /* background-color: red; */
    /* border: 0.8px solid #000; */
    margin-top: 30px;
    padding-bottom: 15px;
    font-weight: bolder;
    width: 80%;
    justify-content: space-between;
}

.CName {
    padding: 10px;
    border: hidden;
}

.TAmount {
    padding: 10px;
}

.edit_button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    width: 70px;
    height: 25px;
    font-size: 0.7rem;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 8px;
    text-align: center;
    background-color: #232323;
    color: #ffff;
    position: relative;
    bottom: 1.1rem;
    cursor: pointer;
}

/* button designing */
/* .edit_button:hover {
    cursor: pointer;
    transform: scale(1, 1.2);
    transition: all 0.3s;
    background-color: #04aa6d;
    color: black;
} */

.cancel_button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    width: 70px;
    height: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: initial;
    font-size: 0.7rem;
    border-radius: 10px;
    border: none;
    padding: 7px 8px;
    background-color: #232323;
    color: #ffff;
    position: relative;
    bottom: 1.1rem;
    cursor: pointer;
}

/* button designing */
/* .cancel_button:hover {
    cursor: pointer;
    transform: scale(1, 1.2);
    transition: all 0.3s;
    background-color: red;
    color: black;
} */

.del_button {
    display: flex;
    gap: 10px;
    height: 20px;
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.product_details,
.complete {
    height: 100%;
    width: 100%;
    background: white;
}
.product_details {
    position: relative;
    padding: 20px;
}

.delete_name {
    cursor: pointer;
    color: red;
}

.table_infront {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    border: 0.8px solid #000;
}
.customer_name {
    width: 25%;
    display: flex;
    gap: 40%;
}

.create_modal {
    visibility: hidden !important;
    position: absolute;
    width: 100%;
    background-color: #292828b0;
    height: 100%;
    /* height: calc( 100% - 71px ); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.update_modal {
    visibility: hidden !important;
    position: absolute;
    width: 300px;
    background-color: #292828b0;
    height: 50%;
    /* heig2t: calc( 100% - 71px ); */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}
.create_modal > div {
    width: 60%;
    background: white;
    border: 1px solid gray;
    padding: 20px;
}

.open_modal {
    visibility: visible !important;
}

.close_create_modal {
    /* position: absolute; */
    right: 20px;
    top: 10px;
    text-align: right;
    cursor: pointer;
}

.close_modal {
    visibility: hidden !important;
}

.open_update_modal {
    visibility: visible !important;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.open_update_modal  > div {
    display: flex;
    align-items: center;
    width: 55%;
}
.update_root {
    width: 100%;
    position: relative;
    height: 50%;
}

.update_close_modal {
    text-align: right;
    cursor: pointer;
    /* width: 300px; */
    text-align: right;
    z-index: 10;
    position: absolute;
    right: 10px;
    width: 20px;
}
.user-input-field {
    outline: none;
    border: none;
}

.enable_user_input {
    outline: auto !important;
    bottom: 1px solid black !;
}

.hello {
    cursor: pointer;
}

.haii {
    cursor: pointer;
    color: blue;
}

.table-body {
    width: 80%
}

.tailer {
    margin-top: 30px;
    padding-bottom: 15px;
    font-weight: bolder;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

